html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
* {outline: 0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font-family: sans-serif; *font-size:small; } 
select, input, textarea, button { font-family: sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 0; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: middle; }
input[type="checkbox"] { vertical-align: middle; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: rgba(0,0,0,0.5); color:#fff; text-shadow: none; }
::selection { background: rgba(0,0,0,0.5); color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: rrgba(0,0,0,0.5); }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6, h7 {}
a, a:active, a:visited { color: inherit; text-decoration: none;}
a:hover {}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .clear { clear: both; }
.clearfix { zoom: 1; }



@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);



body, input, select, textarea {
	font-family: 'PT Sans','Helvetica Neue','Arial',Sans-Serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	vertical-align: baseline;
	color: #595959;
}

	/* -------------------- Headlines */

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Roboto Slab', 'PT Sans','Helvetica Neue','Arial',Sans-Serif;
	font-weight: 400;
	line-height: 1.25em;
	margin: 1.5em 0;
	color: #404040;
	
	text-align: center;
}

h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.625em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.125em;
}
h6 {
	font-size: 1em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 1em auto;
}

p {
	margin: 1.5em 0;
}

.arrow,
.button,
.button:active,
.button:visited {
	font-size: 1.5em;
	position: relative;
	display: block;
	padding: 1em 2.125em 1em 1em;
	margin: 1em 0;
	
	color: #fff;
	background: #3dcc9c;

	-webkit-border-radius: 0.25em 0.5em 0.5em 0.25em;
	border-radius: 0.25em 0.5em 0.5em 0.25em;
}
.arrow {
	margin: 1em 1.5em 1em 0;
}
.arrow.button {
	background: #404040;
}
.arrow:before {
	width: 2.25em;
	height: 2.25em;
	position: absolute;
	right: -0.75em;
	top: 50%;
	content: '';
	display: block;
	margin: -1.125em 0 0;
	background: #3dcc9c;

	-webkit-border-radius: 0.5em 0.25em 0.5em 0.25em;
	border-radius: 0.5em 0.25em 0.5em 0.25em;
	
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.button:before {
	background: #404040;
}
.arrow:after {
	font-size: 1em;
	position: absolute;
	right: -0.5em;
	top: 0;
	content: '»';
	display: block;
	padding: 1em;
}
.button:hover,
.button:focus,
.button:hover:before,
.button:focus:before {
	background: #595959;
}

	/* -------------------- Coloumns */

.two-columns-one {
	width: 48%;
}
.three-columns-one {
	width: 30.6667%;
}
.three-columns-two {
	width: 65.333%;
}
.four-columns-one {
	width: 22%;
}
.four-columns-two {
	width: 44%;
}
.four-columns-three {
	width: 74%;
}
.two-columns-one, .three-columns-one, .three-columns-two, .four-columns-one, .four-columns-two, .four-columns-three {
	float: left;
	margin-bottom: 0;
	margin-right: 4%;
	position: relative;
}
.last {
	clear: right;
	margin-right: 0;
}
.divider {
	clear: both;
	display: block;
	margin-bottom: 1em;
	padding-top: 1em;
	width: 100%;
}


	/* -------------------- Section Title */

.header {
	margin: 0 auto 5em;
}
.title, .title-border, .title-sub {
	display: block;
	text-align: center;
	margin: 1em;
}

h1.title {
	font-size: 4em;
}
h2.title {
	font-size: 3em;
}
h3.title {
	font-size: 2em;
}
.title-border {
	color: #bfbfbf;
	font-size: 2em;
}
.title-sub {
	color: #808080;
	width: 66.666%;
	margin: 0 auto;
}

.pre-head {
	display: block;
	text-align: center;
	font-size: 0.75em;
	color: #bfbfbf;
	margin-bottom: -2em;

	letter-spacing: 1px;
	text-transform: uppercase;
}



#header .title {
	color: #fff;
}
#header .title-border {
	color: #5ce6b8;
}
#header .title-sub {
	color: #99ffdd;
}

#content-5 .title {
	color: #fff;
}
#content-5 .title-border {
	color: #808080;
}
#content-5 .title-sub {
	color: #bfbfbf;
}




.icon {
	display: block;
	margin: 1em auto;
	height: 0;
	padding-bottom: 75%;
	
	text-align: center;
	
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	background: #3dcc9c no-repeat scroll center center / 50%;
}
.icon.icon-mail {
	background-image: url('images/icon-mail.png');
}
.icon.icon-message {
	background-image: url('images/icon-message.png');
}
.icon.icon-browser {
	background-image: url('images/icon-browser.png');
}
.icon.icon-harddrive {
	background-image: url('images/icon-harddrive.png');
}
.icon:hover,
.icon:focus {
	-webkit-animation: infinite iconsize 2s;
	animation: infinite iconsize 2s;
}

@-webkit-keyframes iconsize {
	50% {
		background-size: 55%;
	}
} 
@keyframes iconsize {
	50% {
		background-size: 55%;
	}
}

	/* -------------------- Layout */

.inner {
	max-width: 60em;
	padding: 5em 2em;
	margin: auto;
}

#header-outer {
	position: relative;
	background: #3dcc9c;
	padding-bottom: 120px;
	margin-bottom: 120px;
}
#header-outer:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 240px;
	bottom: -120px;
	background: url('images/header-border.png') transparent repeat-x scroll center center;
}
#header-inner {
	padding: 2em;
} 
#header header {
	margin: 2em auto;
}


#footer-outer {
	background: #000;
}
#footer-inner {
	padding: 1em 0;
}
#footer a {
	color: #fff !important;
	font-size: 1em;
	padding: 0.5em 0;
	text-align: center;
	font-family: 'Arial Black',Arial,sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}


#content-5 header {
	position: relative;
}
#content-0 header {
	margin: 2em auto;
}

.content-border {
	position: absolute;
	width: 100%;
	height: 3em;
	
	font-size: 1em;
	line-height: 1em;
	
	bottom: -1.5em;
	text-align: justify;
	color: #e3e3e3;
	
	overflow: hidden;
}
#intro-outer {
	position: relative;
}
#content-1-outer {
	position: relative;
}
#content-2-outer {
	position: relative;
}
#content-3-outer {
	position: relative;
}
#content-4-outer {
	position: relative;
}
#content-5-outer {
	position: relative;
	background: #404040;
}


