@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, .clear { clear: both; }
.clearfix { zoom: 1; }


html {
	font-size: 62.5%;
}

body, input, select, textarea {
	font-family: 'PT Sans','Helvetica Neue','Arial',Sans-Serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.6em;
	vertical-align: baseline;
	color: #595959;
}

	/* -------------------- Headlines */

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Roboto Slab', 'PT Sans','Helvetica Neue','Arial',Sans-Serif;
	font-weight: 400;
	line-height: 1.6em;
	margin: 1.6em 0;
	color: #404040;
	
	text-align: center;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 1em auto;
}

p {
	margin: 1.6em 0;
}

code {
	color: #3dcc9c;
	letter-spacing: 0.0625em;
	padding: 0.125em 0.25em;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.2);
	
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
}


.arrow,
.button,
.button:active,
.button:visited {
	position: relative;
	display: block;
	padding: 1em 1.6em 1em 1em;
	margin: 1em 0;
	
	color: #fff;
	background: #3dcc9c;

	-webkit-border-radius: 0.25em 0.5em 0.5em 0.25em;
	border-radius: 0.25em 0.5em 0.5em 0.25em;
}
.arrow {
	margin: 1em 1.6em 1em 0;
}
.arrow.button {
	background: #404040;
}
.arrow:before {
	width: 2.8em;
	height: 2.8em;
	position: absolute;
	right: -1em;
	top: 50%;
	content: '';
	display: block;
	margin: -1.4em 0 0;
	background: #3dcc9c;

	-webkit-border-radius: 0.5em 0.25em 0.5em 0.25em;
	border-radius: 0.5em 0.25em 0.5em 0.25em;
	
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.button:before {
	background: #404040;
}
.arrow:after {
	font-size: 1em;
	position: absolute;
	right: -0.5em;
	top: 0;
	content: '»';
	display: block;
	padding: 1em;
}
.button:hover,
.button:focus,
.button:hover:before,
.button:focus:before {
	background: #595959;
}



.hexagon {
	display: block;
	width: 100%;
	height: 0;
	padding: 0 0 60%;
	margin: 40% 0;
	background: #404040;
	position: relative;
	
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}
.hexagon:before,
.hexagon:after {
	content: '';
	position: absolute;
	width: 57%;
	height: 95%;
	left: 50%;
	background: #404040;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transform: rotate(45deg) skew(-13deg, -13deg);
	transform: rotate(45deg) skew(-13deg, -13deg);
	z-index: -1;
}
.hexagon:before {
	top: -50.333%;
}
.hexagon:after {
	bottom: -42%;
}
.hexagon-inner {
	display: block;
	position: absolute;
	width: 70%;
	height: 116%;
	left: 15%;
	top: -8%;

	z-index: 2;
}

.adium,
.pidgin {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 75%;
}
.adium {
	background-image: url('images/logo-adium.png');
}
.pidgin {
	background-image: url('images/logo-pidgin.png');
}


	/* -------------------- Coloumns */

.two-columns-one {
	width: 48%;
}
.three-columns-one {
	width: 30.6667%;
}
.three-columns-two {
	width: 65.333%;
}
.four-columns-one {
	width: 22%;
}
.four-columns-two {
	width: 44%;
}
.four-columns-three {
	width: 74%;
}
.two-columns-one, .three-columns-one, .three-columns-two, .four-columns-one, .four-columns-two, .four-columns-three {
	float: left;
	margin-bottom: 0;
	margin-right: 4%;
	position: relative;
}
.last {
	clear: right;
	margin-right: 0;
}
.divider {
	clear: both;
	display: block;
	margin-bottom: 1em;
	padding-top: 1em;
	width: 100%;
}


	/* -------------------- Section Title */

.header {
	margin: 0 auto 5em;
}
.title, .title-border, .title-sub {
	display: block;
	text-align: center;
	margin: 0.625em;
}

h1.title {
	font-size: 4em;
	margin: 0.5em;
}
h2.title {
	font-size: 3em;
	margin: 0.5em;
}
h3.title {
	font-size: 2em;
}
.title-border {
	color: #bfbfbf;
	font-size: 2em;
}
.title-sub {
	color: #808080;
	width: 66.666%;
	margin: 0 auto;
}

.pre-head {
	display: block;
	text-align: center;
	font-size: 0.75em;
	color: #bfbfbf;
	margin-bottom: -2em;

	letter-spacing: 0.0625em;
	text-transform: uppercase;
}



#header .title {
	color: #fff;
}
#header .title-border {
	color: #5ce6b8;
}
#header .title-sub {
	color: #99ffdd;
}

#content-5 {
	color: #e3e3e3;
}
#content-5 .title {
	color: #fff;
}
#content-5 .title-border {
	color: #808080;
}
#content-5 .title-sub {
	color: #bfbfbf;
}
#content-5 h3,
#content-5 h4 {
	color: #fff;
}


.icon {
	display: block;
	margin: 1em auto;
	height: 0;
	padding-bottom: 75%;
	
	text-align: center;
	
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	
	background: #3dcc9c no-repeat scroll center center / 50%;
}
.icon.icon-mail {
	background-image: url('images/icon-mail.png');
}
.icon.icon-message {
	background-image: url('images/icon-message.png');
}
.icon.icon-browser {
	background-image: url('images/icon-browser.png');
}
.icon.icon-harddrive {
	background-image: url('images/icon-harddrive.png');
}
.icon:hover,
.icon:focus {
	-webkit-animation: infinite iconsize 2s;
	animation: infinite iconsize 2s;
}

@-webkit-keyframes iconsize {
	50% {
		background-size: 55%;
	}
} 
@keyframes iconsize {
	50% {
		background-size: 55%;
	}
}

	/* -------------------- Layout */


.outer {
	z-index: 5;
	background: #fff;
	position: relative;
}
.inner {
	max-width: 60em;
	padding: 5em 2em;
	margin: auto;
}

#header-outer {
	position: relative;
	background: #3dcc9c;
	padding-bottom: 120px;
	margin-bottom: 120px;
}
#header-outer:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 120px;
	bottom: -120px;
	background: #fff;
	z-index: 3;	
}
#header-outer:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 240px;
	bottom: -120px;
	background: url('images/border-header.png') transparent repeat-x scroll center center;
	z-index: 4;
}
#header-inner {
	padding: 2em;
} 
#header header {
	margin: 2em auto;
}


#footer-outer {
	background: #000;
}
#footer-inner {
	padding: 1em 0;
}
#footer a {
	color: #fff !important;
	font-size: 1em;
	padding: 0.5em 0;
	text-align: center;
	font-family: 'Arial Black',Arial,sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}


#content-5 header {
	position: relative;
}
#content-0 header {
	margin: 2em auto;
}
.content-border-wrapper {
	height: 240px;
	position: relative;
	overflow: hidden;
	background: #3dcc9c;
}
.content-border-wrapper:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 240px;
	background: transparent url('images/border-content.png') repeat-x scroll center center;
	z-index: 2;
}
.content-border {
	position: absolute;
	width: 100%;
	height: 208px;
	padding: 16px 0;
	
	top: 0;
	text-align: justify;
	color: #47b38f;
	color: #99ffdd;
	
	overflow: hidden;
	cursor: default;
	
	z-index: 1;
}

#intro-outer {}
#content-1-outer {}
#content-2-outer {}
#content-3-outer {}
#content-4-outer {}
#content-5-outer {
	background: #404040;
}


@media only screen and (max-width: 720px)  {
	.two-columns-one,
	.three-columns-one,
	.three-columns-two,
	.four-columns-one,
	.four-columns-two,
	.four-columns-three {
		width: auto;
		float: none;
		margin-bottom: 2em;
		margin-right: 0;
	}
	.divider {
		margin-bottom: 1em;
		padding-top: 1em;
	}
}

	/* ------------------------------ Retina Graphics */

@media	only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2) {
	body {}


